.hero {
  padding: 100px 0px 57px;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  svg {
    font-size: 100px;
    color: rgb(16, 82, 91);
  }
}
