.course {
  padding: 70px 0px 63px;
  background: rgb(244, 247, 253);
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media only screen and (min-width: 600px) {
      gap: 80px;
    }
    .course__title {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0%;
      text-align: center;
      @media only screen and (min-width: 450px) {
        font-size: 30px;
      }
      @media only screen and (min-width: 600px) {
        font-size: 40px;
        line-height: 48px;
      }
    }
    .course__cards {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      @media only screen and (min-width: 360px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media only screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      @media only screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      @media only screen and (min-width: 1170px) {
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: space-between;
      }
      .course__card {
        border-radius: 10px;
        width: 100%;
        box-shadow: 0px 0px 2px 2px gray;
        @media only screen and (min-width: 410px) {
          max-width: 271px;
        }
        img {
          width: 100%;
          border-radius: 10px 10px 0px 0px;
          object-fit: contain;
        }
        .course__card__content {
          padding: 5px 5px 10px 10px;
          border-radius: 0px 0px 10px 10px;
          background: rgb(255, 255, 255);
          display: flex;
          flex-direction: column;
          gap: 13px;
          p {
            width: 100%;
            max-width: 259px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
          }
          span {
            color: rgb(1, 117, 117);
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0%;
          }
        }
      }
    }
  }
}
