.hero {
  padding: 120px 0px 57px;
  @media only screen and (min-width: 900px) {
    padding: 250px 0px 57px;
  }
  background-color: #f4f7fd;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 20px;
    border-radius: 10px;
    background: rgb(16, 82, 91);
    @media only screen and (min-width: 700px) {
      padding: 86px 80px 37px;
    }
    &__titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        // line-height: 54px;
        letter-spacing: 0%;
        @media only screen and (min-width: 600px) {
          font-size: 30px;
        }
        @media only screen and (min-width: 1000px) {
          font-size: 45px;
        }
      }
      p {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0%;
        text-align: center;
        @media only screen and (min-width: 600px) {
          font-size: 15px;
          line-height: 18px;
          text-align: start;
        }
      }
    }
    .hero__wrapper__cards {
      // display: flex;
      // align-items: center;
      // gap: 48px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      @media only screen and (min-width: 500px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
      @media only screen and (min-width: 810px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
      @media only screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
      }
      @media only screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 48px;
      }
      .hero__wrapper__card {
        padding: 20px 17px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 150px;
        height: 150px;
        border-radius: 10px;
        background: rgb(255, 255, 255);
        @media only screen and (min-width: 350px) {
          height: 200px;
          gap: 10px;
        }
        @media only screen and (min-width: 600px) {
          height: 220px;
          gap: 15px;
        }
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
          @media only screen and (min-width: 350px) {
            width: 45px;
            height: 45px;
          }
          @media only screen and (min-width: 600px) {
            width: 51px;
            height: 51px;
          }
        }
        .hero__card__titles {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          h3 {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 10px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
            @media only screen and (min-width: 350px) {
              font-size: 16px;
            }
            @media only screen and (min-width: 600px) {
              font-size: 23px;
            }
          }
          p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 8px;

            @media only screen and (min-width: 350px) {
              font-size: 10px;
              text-align: center;
            }
            @media only screen and (min-width: 600px) {
              font-size: 13px;
              font-weight: 300;
              line-height: 16px;
              letter-spacing: 0%;
              text-align: center;
            }
          }
        }
        svg {
          font-size: 12px;
          color: gray;
          @media only screen and (min-width: 350px) {
            font-size: 16px;
          }
          @media only screen and (min-width: 600px) {
            font-size: 20px;
          }
        }
      }
    }
    .hero__cards__link__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      span {
        color: rgb(9, 247, 247);
        font-family: Inter;
        font-size: 18px;
        font-weight: 200;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
    .swipper__wrapper {
      @media only screen and (min-width: 500px) {
        display: none;
      }
      img {
        width: 100%;
        // max-width: 197px;
        height: 283px;
        border-radius: 10px;
        object-fit: contain;
      }
    }
  }
}
#swipper__wrapper__two {
  display: none;
  @media only screen and (min-width: 500px) {
    display: flex !important;
  }
  @media only screen and (min-width: 600px) {
    display: none !important;
  }
}
#swipper__wrapper__three {
  display: none;
  @media only screen and (min-width: 600px) {
    display: flex !important;
  }
  @media only screen and (min-width: 800px) {
    display: none !important;
  }
}
#swipper__wrapper__four {
  display: none;
  @media only screen and (min-width: 800px) {
    display: flex !important;
  }
}
