.own {
  padding: 0px 0px 70px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 33px;
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      h2 {
        width: 100%;
        max-width: 639px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        @media only screen and (min-width: 600px) {
          font-size: 35px;
          line-height: 57px;
        }
        @media only screen and (min-width: 1000px) {
          font-size: 47px;
        }
      }
      p {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        @media only screen and (min-width: 450px) {
          font-size: 18px;
        }
      }
    }
    .own__cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 81px;
      row-gap: 33px;
      .own__card {
        padding: 10px;
        width: 100%;
        max-width: 500px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        box-sizing: border-box;
        box-shadow: 0px 0px 1px 1px #ddd;
        border-radius: 10px;
        background: rgb(244, 247, 253);
        @media only screen and (min-width: 450px) {
          padding: 36px 30px;
          gap: 0px;
        }
        img {
          width: 100%;
          max-width: 40px;
          height: 40px;
          @media only screen and (min-width: 450px) {
            max-width: 61px;
            height: 61px;
          }
        }
        .own__card__text__wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 278px;
          @media only screen and (min-width: 450px) {
            gap: 12px;
          }
          p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0%;
            @media only screen and (min-width: 450px) {
              font-size: 18px;
              line-height: 30px;
            }
          }
          span {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 0%;
            @media only screen and (min-width: 450px) {
              font-size: 13px;
              line-height: 21px;
            }
          }
        }
        svg {
          color: rgba(0, 0, 0, 0.47);
          font-size: 14px;
          @media only screen and (min-width: 450px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
